# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore IDE-specific files (for VSCode, PyCharm, etc.)
.vscode/
.idea/

# Ignore virtual environments
venv/
.env/

# Ignore logs
*.log

# Ignore database files
*.sqlite3
