/* Styling for Laborantin Component */

.laborantin-container {
    max-width: 85%; 
    margin: 0 auto;
    padding: 20px;
    background-color: #F5F5F5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header-info {
    display: flex;
    justify-content: space-between; /* Mettre les éléments sur la même ligne */
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
  }
  
  .header-info .info-item {
    font-weight: bold;
    color: #003366; /* Changer la couleur de texte */
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #003366; /* Couleur du texte */
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  input:invalid {
    border-color: red;
  }
  
  
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  .btn {
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
  }
  
  .btn:active {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .graph-btn {
    background-color: #6FB1FC;
    color: white;
  }
  
  .save-btn {
    background-color: #4caf50;
    color: white;
  }
  
  .cancel-btn {
    background-color: #f44336;
    color: white;
  }
  .chart-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  