.container {
  text-align: center;
  margin: 0 auto;
  max-width: 900px;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  color: #003366E5;
}

.btn-deconnexion {
  background-color: #ff6b6b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-deconnexion:hover {
  background-color: #ff4c4c;
}

.search-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
}

.NSS {
  border: none;
  outline: none;
  padding: 10px;
  width: 700px;
}

.search-bar button {
  background: none;
  border: none;
  cursor: pointer;
  color: #002147;
  font-size: 18px;
}

.btn-scan {
  background-color:#6FB1FC;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 48px;
}

.btn-scan i {
  margin-right: 5px;
}

.btn-scan:hover {
  background-color: #93c3fa;
}

.content h2 {
  color: #003366E5;
  font-size: 24px;
  margin-bottom: 20px;
}

.content ul {
  list-style-type: none;
  padding: 0;
  color: #003366E5;
}

.content ul li {
  margin-bottom: 10px;
}

.illustration img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}




