

<div class="container">
  <div class="header">
    <h1>Consulter DPI</h1>
    <button class="btn-deconnexion">Déconnexion</button>
  </div>
  <div class="search-section">
    <div class="search-bar">
      <input class="NSS" type="text" placeholder="Rechercher par NSS ..." />
      <button>
        <i class="fas fa-search"></i>
      </button>
    </div>
    <button class="btn-scan">
      <i class="fas fa-qrcode"></i> Scanner QR code
    </button>
  </div>
  <div class="content">
    <h2>Aucun dossier sélectionné.</h2>
    <ul>
      <li> 
        Recherchez un dossier patient en entrant son numéro de sécurité sociale
        (NSS) dans la barre de recherche.
      </li>
      <li>
        Ou scannez un QR Code pour accéder rapidement aux informations du
        patient.
      </li>
    </ul>
    <div class="illustration">
      <img src="assets/acc.png" alt="Illustration" />
    </div>
  </div>
</div>
