/* Style global */
* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh; /* Assure que la page occupe toute la hauteur */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Assure que tout prend de l'espace verticalement */
  padding-top: 60px; /* Ajuste ce padding pour éviter que le contenu soit masqué par la navbar */
}

/* Style de la navbar */
/* Style de la navbar */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003366;
  padding: 10px 30px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  width: 50px;
  height: auto;
}

.nav-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.nav-link {
  background: none;
  color: white;
  border: none;
  font-size: 16px;
  margin: 0 20px;
  cursor: pointer;
  padding: 10px 20px;
}

.nav-link:hover {
  background-color: #56C271;
  border-radius: 15px;
}

.selected {
  font-weight: bold;
}

.btn-deconnexion {
  background-color: #ff6b6b;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  height: 40px; /* Taille fixe pour le bouton */
  width: auto;
}

.btn-deconnexion:hover {
  background-color: #ff4c4c;
}


.search-section {
  display: flex;
  justify-content: center; /* Centre les éléments */
  align-items: center;
  margin: 20px 0; /* Espacement réduit */
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  width: 70%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow sur la barre de recherche */
}

.NSS {
  border: none;
  outline: none;
  padding: 8px;
  width: 100%;
}

.search-bar button {
  background: none;
  border: none;
  cursor: pointer;
}

.search-icon {
  width: 18px;
  height: auto;
  margin-right: 5px;
}

.btn-scan {
  background-color: #6FB1FC;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 40px;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 15px;
}

.scan-icon {
  width: 18px;
  height: auto;
  margin-left: 5px;
}

.btn-scan:hover {
  background-color: #93c3fa;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.content h2 {
  color: #003366E5;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center; /* Ajouté pour centrer le titre */
  margin-top: 40px;
}

.content ul {
  list-style-type: none;
  padding: 0;
  color: #003366E5;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.content ul li {
  margin-bottom: 8px;
  font-size: 14px;
}

.illustration img {
  max-width: 50%;
  height: auto;
  margin-top: 15px;
}

.footer-rectangle {
  background-color: #e2e2f1; /* Violet clair */
  padding: 20px 0;
  border-radius: 20px;
  margin-top: 40px; /* Plus d'espace entre la navbar et le rectangle */
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 600px) {
  .NSS {
    width: 100%;
  }

  .search-section {
    flex-direction: column;
  }

  .content h2 {
    font-size: 16px;
    margin-top: 20px;
  }
}
