<div class="container">
  <div class="header">
    <img src="assets/logo.svg" alt="Logo" class="logo" />
    <div class="nav-links">
      <button class="nav-link selected">Consulter DPI</button>
      <button class="nav-link" (click)="navigateToCreationDpi()">Créer DPI</button>
    </div>
    <button class="btn-deconnexion" (click)="onLogout()">Déconnexion</button>
  </div>
  <div class="search-section">
    <div class="search-bar">
      <img src="assets/loupe.png" alt="loupe" class="search-icon" />
      <input class="NSS" type="text" placeholder="Rechercher par NSS ..." #nssInput 
      (keyup.enter)="onSearch(nssInput.value)" />
      <button (click)="onSearch(nssInput.value)">
        <i class="fas fa-search"></i>
      </button>
    </div>
    <button class="btn-scan" (click)="startScan()">
      Scanner QR code <img src="assets/QR.png" alt="QR Code" class="scan-icon" />
    </button>
  </div>
  <div class="content">
    <h2>Aucun dossier sélectionné.</h2>
    <ul>
      <li>Recherchez un dossier patient en entrant son numéro de sécurité sociale (NSS) dans la barre de recherche.</li>
      <li>Ou scannez un QR Code pour accéder rapidement aux informations du patient.</li>
    </ul>
    <div class="illustration">
      <img src="assets/acc.png" alt="Illustration" />
    </div>
  </div>
  <canvas id="qr-canvas" hidden></canvas>
</div>