 <div class="login-container">
  <div class="left-section">
    <img src="assets/doctor-team.png" alt="Doctor Team" />
    <p class="phrase">Connectez-vous et simplifiez la gestion de vos dossiers patients dès maintenant !</p>
  </div>
  <div class="right-section">
    <div class="container">
      <img src="assets/logo.svg" alt="logo" class="imgdpi">
    </div>
    <h2 class="Bien">Bienvenue !</h2>
    <h3 class="Connexion">Connexion</h3>
    <form>
      <input class="email" type="email" placeholder="E-mail" required />
      <input class="password" type="password" placeholder="Mot de passe" required />
      <a href="#" class="forgot">Forgot password ?</a>
      <button type="submit">Login</button>
    </form>
  </div>
</div> 

